body{
	font-family: 'Lato', sans-serif;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Lato', sans-serif;	
}
.navbar-default{
	background: #FFF;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
	margin-bottom: 0;
	border-width: 0;
}
.header-follow{
	margin-top: 40px;
}
.header-text{
	display:inline-block;
	vertical-align:top;
	line-height: 1;
	margin: 7px;
}
.cb-status-banner{
	padding: 30px 0;
	color: #fff;
	margin-bottom: 30px;
}
.cb-status-banner.up {
	background: #1DAE7A;
}
.cb-status-banner.down{
	background: #E53132;
}
.cb-status-banner.partial{
	background: #ff8532;
}
.cb-status-banner h1{
	text-transform: uppercase;
}
iframe#chargebee_status{
	width: 100%;
	min-height: 630px;
	display: block;
	margin:auto;
	border: none;
}
.cb-status-timeline ol{
	list-style: none;
	padding-left: 80px;	
	position: relative;
	margin-bottom: 40px;
}
.cb-status-timeline ol:before{
	content: '';
	width: 1px;
	background: #eee;
	position: absolute;
	left: 40px;
	top: -40px;
	bottom: -20px;
	z-index: 100;
}
.cb-status-timeline li{
	list-style: none;
	position: relative;	
	margin-top:40px;
}
.cb-status-timeline li span.number{
	position: absolute;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	text-align: center;
	margin-left: -55px;
	line-height: 30px;
	background: #6F9ABC;
	color: #FFF;
	margin-top: -7px;
	z-index: 111;
	border: 3px solid white;
	box-shadow: 0 0 1px #555;
}
.alert-info{background:#3fa9c7; border:none; color:white;}
.alert-warning{background:#ebaf3c; border:none; color:#50390e;}
@media (min-width: 768px){
	.navbar-default .navbar-header img.navbar-brand {
		padding-left: 0;
		margin: 17px 0;
	}
}
