{% assign culprit = "RDS Connectivity Issue" %}
{% assign down_status = "up" %}

{% if down_status == "down" %}
  <section class="cb-status-banner down">
	<div class="container text-center">
		<h1>{{culprit}}</h1>
	</div>
</section>
{% elsif down_status == "partial" %}
  <section class="cb-status-banner partial">
	<div class="container text-center">
		<h1>{{culprit}}</h1>
	</div>
</section> 
{% else %}
  <section class="cb-status-banner up">
	<div class="container text-center">
		<h1>All systems operational</h1>
	</div>
</section>
{% endif %}
