{% for post in site.posts %}
  {% if post.status == 'down' %}
    {% assign has_down = true %}
    {% assign culprit = {{post.status_text}} %}
    {% break %}
  {% elsif post.status == 'partial' %}
  	{% assign has_partial = true %}
  	{% assign culprit = {{post.status_text}} %}
  	{% break%}
  {% endif %}
{% endfor %}

{% if has_down == true %}
  <section class="cb-status-banner down">
	<div class="container text-center">
		<h1>{{culprit}}</h1>
	</div>
</section>
{% elsif has_partial == true %}
  <section class="cb-status-banner partial">
	<div class="container text-center">
		<h1>{{culprit}}</h1>
	</div>
</section> 
  {% else %}
  <section class="cb-status-banner up">
	<div class="container text-center">
		<h1>All systems operational</h1>
	</div>
</section>
{% endif %}
